<!DOCTYPE html>
<html lang="en">
    <head>
	    <meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8" />
        <title>{% block title %}Petta Construction{% endblock %}</title>
        {% block stylesheets %}
        	<link href="{{ asset('bower_components/bootstrap/dist/css/bootstrap.min.css')}}" rel="stylesheet">
        	<link href="{{ asset('bower_components/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet">        	    	        	
        	<link href="{{ asset('royalslider/royalslider.css')}}" rel="stylesheet">
        	<link href="{{ asset('royalslider/skins/default/rs-default.css')}}" rel="stylesheet">
        	<link href="{{ asset('css/style.css')}}" rel="stylesheet">            	
        {% endblock %}

		
		
		<link rel="apple-touch-icon" sizes="152x152" href="{{ asset('images/fav/apple-touch-icon.png') }}">
		<link rel="icon" type="image/png" sizes="32x32" href="{{ asset('images/fav/favicon-32x32.png') }}">
		<link rel="icon" type="image/png" sizes="16x16" href="{{ asset('images/fav/favicon-16x16.png') }}">
		<link rel="manifest" href="{{ asset('images/fav/manifest.json') }}">
		<link rel="mask-icon" href="{{ asset('images/fav/safari-pinned-tab.svg') }}" color="#5bbad5">
		<meta name="theme-color" content="#ffffff">

    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
        	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
			<script src="{{ asset('bower_components/jquery/dist/jquery.min.js')}}"></script>
			<!-- Include all compiled plugins (below), or include individual files as needed -->
			<script src="{{ asset('bower_components/bootstrap/dist/js/bootstrap.min.js')}}"></script>
			<script src="{{asset('royalslider/jquery.royalslider.min.js')}}"></script>
			<script src="{{asset('bower_components/Headhesive.js/dist/headhesive.min.js')}}"></script>
			<script src="{{asset('js/rsInit.js')}}"></script>			
        {% endblock %}
    </body>
</html>


