{% extends 'baseMain.html.twig' %}

{% block body %}
<style>




</style>

<div class = "header1Stripe header">
	<div class = "container">
		<div class = "row">
			<div class = "col-xs-12 col-sm-12 col-md-12 col-lg-12">

				<div class = "pull-right socialIcons">
					<span class = "bar_group">905-555-9990</span>
					<span class = "bar_group">dino@pettaconstruction.com</span>
					<span class = "bar_group"><i class="fa fa-facebook-square fa-1x" aria-hidden="true"></i></span>
					<span class = "bar_group"><i class="fa fa-instagram fa-1x" aria-hidden="true"></i></span>
				</div>
				
			</div>
		</div>
	</div>
</div>
<div id = "nav_contact" class = "header1Stripe header navbar-fixed-top" style = "display:none;" >
	<div class = "container">
		<div class = "row">
			<div class = "col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class = "img-responsive pull-left"><img src = "{{ asset('images/pettaClogoWhite.png') }}"/ width = "100px"></div>
				<div class = "pull-right socialIcons">
					<span class = "bar_group">905-555-9990</span>
					<span class = "bar_group">dino@pettaconstruction.com</span>
					<span class = "bar_group"><i class="fa fa-facebook-square fa-1x" aria-hidden="true"></i></span>
					<span class = "bar_group"><i class="fa fa-instagram fa-1x" aria-hidden="true"></i></span>
				</div>
				
			</div>
		</div>
	</div>
</div>


{#
<div class = "container">
	<div class = "row">
		<div class = "col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class = "siteHeader">
				<img class = "img-responsive logoMain pull-left" src = "{{ asset('images/pettaClogoWithLine.png') }}"/>
				
				
				<ul class="nav network-nav">
					  
					  <li role="presentation"><a href="#">Services</a></li>					  
					  <li role="presentation"><a href="#">Gallery</a></li>
					  <li role="presentation"><a href="#">Testimonials</a></li>
					  <li role="presentation"><a href="#">Contact</a></li>
					  <li role="presentation" class="active"><a href="#">Home</a></li>
				</ul>
				
			</div>	
		</div>
	</div>

	<div class = "row">
		<div class = "col-md-12">
			<div class = "text-center slogan_text">"Helping Home Owners Build Their Dream"</div>
		</div>
	</div>

</div>
#}
{% include 'nav.html.twig' %}

<a id="showHere"></a>

<div class = "container-fluid">
	<div class="royalSlider rsDefault">
	    <!-- simple image slide -->
	    <div style = "position:relative;">
		    <img class="rsImg" src="{{asset('images/gallery/479.jpg')}}" alt="image desc" width="200" />
		    <div class = "heroText"><span class = "heroTextEmp1">Helping Home Owners Build Their</span> <span class = "heroTexEmp">Dream</span></div>
		</div>
		<div>
		    <img class="rsImg" src="{{asset('images/gallery/317.jpg')}}" alt="image desc" width="200" />
		</div>
		<div>
		    <img class="rsImg" src="{{asset('images/gallery/300.jpg')}}" alt="image desc" width="200" />
		</div>
		<div>
		    <img class="rsImg" src="{{asset('images/gallery/263.jpg')}}" alt="image desc" width="200" />
		</div>		
		<div>
		    <img class="rsImg" src="{{asset('images/gallery/289.jpg')}}" alt="image desc" width="200" />
		</div>		
		
	    <!-- lazy loaded image slide -->
{# 	    <a class="rsImg" href="{{asset('images/gallery/6.jpg')}}">image desc</a> #}
	
	    <!-- HTML content slide -->
{# 	    <p>Content goes here</p> #}
	
	    <!-- image and content -->
{# 	    <div> #}
	{#         <img class="rsImg" src="{{asset('images/gallery/6.jpg')}}" data-rsVideo="https://vimeo.com/44878206" /> #}
{# 	        <p>Some content after...</p> #}
{# 	    </div> #}
	
	    <!-- HTML content -->
{#
	    <div>
	        Put any HTML content here
	    </div>
#}
	
	    <!-- HTML content (100% with and height) -->
{#
	    <div class="rsContent">
	        Put any HTML content here
	    </div>
#}
	</div>
</div>


<div class = "container">
	<div class = "row">
		<div class = "col-md-6">
		
			<h2>Welcome to Petta Construction</h2>
			
				<div class = "mainText">
				<p><em>-needs revision-</em></p>
				<p>Welcome to Petta Construction, one of Hamilton's leading residential and commercial contractors.</p>
	
				<p>For more than 25 years Petta Construction has been building, renovating and providing high quality custom contracting services in Hamilton, Ancaster, Stoney Creek and Dundas.</p>
	
				<p>We specialize in Custom Home Renovations, Custom Home Additions, Custom Basement Renovations, and Custom Commercial Constructions.</p>
	
				<p>Our extensive residential experience and diverse skills make Petta Construction an obvious choice, whether you are renovating your basement or adding on to your existing home.</p>
	
				<p>If your needs involve Commercial or Light Industrial building construction or renovation, Petta Construction will complete your project with same attention to quality, fit and finish as our residential projects.</p>
	
				<p>Please click on either the Residential or Commercial link to the right to read more about our work, then give us a call or send us an email to arrange for your free, no obligation consultation.</p>
		
				</div>
{# 			{{ dump(insta) }} #}
			<h2><span class = "bar_group"><i class="fa fa-instagram" aria-hidden="true"></i></span> Project Feed</h2>
			{% for posts in insta %}
			<div class = "img-responsive"><img src="{{ posts }}"/></div>	
			{% endfor %}
		</div>

		
		<div class = "col-md-6">
			<h2>Testimonials</h2>
				<div class = "row">
					<div class = "col-md-12">
						<p class = "mainText">
						See what our clients have to say about our work on <a href = "https://trustedpros.ca/company/petta-construction">TrustedPros.ca</a>.
{# 							We stand by our work and know our customers' testimonials are your best resource.  Please find our reviews on TrustedPros.ca. #}
						</p>
						<div class = "tprosLogo"><a href = "https://trustedpros.ca/company/petta-construction"><img class = "img-responsive" src = "{{ asset('images/trustedProsLogo.png') }}" width="50%"/></a></div>
					</div>
				</div>
			
			<h2>Galleries</h2>
				<div class = "row">
				<h3 class = "gallery">Bathrooms</h3>
					<div class = "col-md-12 col-xs-12">
						<img src = "{{asset('images/gallery/317.jpg')}}" style = "height:140px; width:140px;"/>
						<img src = "{{asset('images/gallery/263.jpg')}}" style = "height:140px; width:140px;"/>
						<img src = "{{asset('images/gallery/300.jpg')}}" style = "height:140px; width:140px;"/>
					</div>
					
				</div>
				<div class = "row">
				<h3 class = "gallery">Kitchens</h3>
					<div class = "col-md-12 col-xs-12">
						<img src = "{{asset('images/gallery/317.jpg')}}" style = "height:140px; width:140px;"/>
						<img src = "{{asset('images/gallery/263.jpg')}}" style = "height:140px; width:140px;"/>
						<img src = "{{asset('images/gallery/300.jpg')}}" style = "height:140px; width:140px;"/>
					</div>
					
				</div>
				<div class = "row">
				<h3 class = "gallery">Basements</h3>
					<div class = "col-md-12 col-xs-12">
						<img src = "{{asset('images/gallery/317.jpg')}}" style = "height:140px; width:140px;"/>
						<img src = "{{asset('images/gallery/263.jpg')}}" style = "height:140px; width:140px;"/>
						<img src = "{{asset('images/gallery/300.jpg')}}" style = "height:140px; width:140px;"/>
					</div>
					
				</div>

		</div>
	</div>
</div>

<div class = "container">
	<div class = "row">
	<div class = "col-md-6">
			
			<h2>Commerical Galleries</h2>
				<div class = "row">
{# 				<h3 class = "gallery">Bathrooms</h3> #}
				<h3 class = "gallery">New Construction</h3>

					<div class = "col-md-12 col-xs-12">
						<img src = "{{asset('images/gallery/317.jpg')}}" style = "height:140px; width:140px;"/>
						<img src = "{{asset('images/gallery/263.jpg')}}" style = "height:140px; width:140px;"/>
						<img src = "{{asset('images/gallery/300.jpg')}}" style = "height:140px; width:140px;"/>
					</div>
					
				</div>
				<div class = "row">
				<h3 class = "gallery">Renovation</h3>
					<div class = "col-md-12 col-xs-12">
						<img src = "{{asset('images/gallery/317.jpg')}}" style = "height:140px; width:140px;"/>
						<img src = "{{asset('images/gallery/263.jpg')}}" style = "height:140px; width:140px;"/>
						<img src = "{{asset('images/gallery/300.jpg')}}" style = "height:140px; width:140px;"/>
					</div>
					
				</div>
				<div class = "row">
				<h3 class = "gallery">Misc.</h3>
					<div class = "col-md-12 col-xs-12">
						<img src = "{{asset('images/gallery/317.jpg')}}" style = "height:140px; width:140px;"/>
						<img src = "{{asset('images/gallery/263.jpg')}}" style = "height:140px; width:140px;"/>
						<img src = "{{asset('images/gallery/300.jpg')}}" style = "height:140px; width:140px;"/>
					</div>
					
				</div>

		</div>
			<div class = "col-md-6">
			
			<h2>Residential Galleries</h2>
				<div class = "row">
				<h3 class = "gallery">Bathrooms</h3>
					<div class = "col-md-12 col-xs-12">
						<img src = "{{asset('images/gallery/317.jpg')}}" style = "height:140px; width:140px;"/>
						<img src = "{{asset('images/gallery/263.jpg')}}" style = "height:140px; width:140px;"/>
						<img src = "{{asset('images/gallery/300.jpg')}}" style = "height:140px; width:140px;"/>
					</div>
					
				</div>
				<div class = "row">
				<h3 class = "gallery">Kitchens</h3>
					<div class = "col-md-12 col-xs-12">
						<img src = "{{asset('images/gallery/317.jpg')}}" style = "height:140px; width:140px;"/>
						<img src = "{{asset('images/gallery/263.jpg')}}" style = "height:140px; width:140px;"/>
						<img src = "{{asset('images/gallery/300.jpg')}}" style = "height:140px; width:140px;"/>
					</div>
					
				</div>
				<div class = "row">
				<h3 class = "gallery">Basements</h3>
					<div class = "col-md-12 col-xs-12">
						<img src = "{{asset('images/gallery/317.jpg')}}" style = "height:140px; width:140px;"/>
						<img src = "{{asset('images/gallery/263.jpg')}}" style = "height:140px; width:140px;"/>
						<img src = "{{asset('images/gallery/300.jpg')}}" style = "height:140px; width:140px;"/>
					</div>
					
				</div>

		</div>
	
	
	</div>
</div>

<div class = "spacer"></div> 
  

<footer>
	<div class = "container-fluid">
		<div class = "petta_footer">
			<div class = "container">
				<div class = "row">
					<div class = "col-md-8">
						<h3>Petta Construction</h3>
						<div class = "footerAddress">
							<p>
							30 Lasalle Court<br>
							Stoney Creek, ON L8J 3X6<br>
							<i class="fa fa-phone fa-1x" aria-hidden="true"></i> &nbsp; (289) 965-8512 <br>
							<i class="fa fa-envelope fa-1x" aria-hidden="true"></i> &nbsp; <a class = "bottom img-responsive" 	href = "mailto:dino@pettaconstruction.com">dino@pettaconstruction.com</a> <br>
							</p>
						</div>
					</div>
					<div class = "col-md-4">
						<img class = "img-responsive pull-right" src = "{{ asset('images/pettaClogoWhite.png') }}"></img>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>



{% endblock %}
