{% extends 'base.html.twig' %}

{% block body %}
    <h1>Photo</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ photo.id }}</td>
            </tr>
            <tr>
                <th>File</th>
                <td>{{ photo.file }}</td>
            </tr>
            <tr>
                <th>Filedesc</th>
                <td>{{ photo.fileDesc }}</td>
            </tr>
            <tr>
                <th>Dateadded</th>
                <td>{% if photo.dateAdded %}{{ photo.dateAdded|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('photo_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('photo_edit', { 'id': photo.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
